<div class="container">
  <h1>{{title}}</h1>
  <form [formGroup]="zoneListForm" novalidate="" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="id">
    </div>

    <div class="form-group">
      <label for="name">Zone Name</label>
      <input id="name" type="text" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
      <label for="path">Api path</label>
      <input id="path" type="text" class="form-control" formControlName="path">
    </div>

    <div class="form-group">
      <label for="start">Start Room Number</label>
      <input id="start" type="text" class="form-control" formControlName="start">
    </div>

    <div class="form-group">
      <label for="end">End Room Number</label>
      <input id="end" type="text" class="form-control" formControlName="end">
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select id="status" formControlName="status" class="form-control">
        <option value="">--</option>
        <option *ngFor="let st of status" [value]="st">{{st}}</option>
      </select>
    </div>

    <div style="margin-bottom: 1em">
      <button type="submit"
              class="btn btn-success">Save</button> &nbsp;
      <button type="reset" (click)="revert()"
              class="btn btn-danger">Revert</button>
    </div>
  </form>
</div>
