<!-- zone description -->
<div *ngIf="zone">
  <div *ngIf="showList">
    <div id="idlista">
      <div class="row col-lg-12">
        <h2>{{ zone.name | uppercase }} Details</h2>
      </div>
      <div class="col-lg" id="vnum">vnum: {{zone.vnum}}</div>
      <div class="col-lg">path: {{zone.path}}</div>
      <div class="col-lg">zoneName: {{zone.name}}</div>
      <div class="col-lg">topRoomNumber: {{zone.end}}</div>
      <div class="col-lg">lifeSpan: {{zone.lifespan}}</div>
      <div class="col-lg">resetMode: {{zone.resetmode}}</div>
      <button type="button" class="btn btn-light" (click)="onSelect(zone)">Download For Edit</button>
    </div>
  </div>
</div>
<div *ngIf="newZoneListError">
  <h2>An error occoured while loading the zone</h2>
  <p>Status: {{ newZoneResponse.status }}</p>
  <p>Error code: {{ newZoneResponse.err_code }}</p>
  <p>Reason: {{ newZoneResponse.reason }}</p>
</div>

