<div *ngIf="zoneobject">
	<h2>{{ zoneobject.zoneName | uppercase }} Details</h2>
	<ul>
		<li>vnum: {{zoneobject.vnum}}</li>
		<li>zoneName: {{zoneobject.zoneName}}</li>
		<li>topRoomNumber: {{zoneobject.topRoomNumber}}</li>
		<li>lifeSpan: {{zoneobject.lifeSpan}}</li>
		<li>resetMode: {{zoneobject.resetMode}}</li>
		<ul *ngFor="let command of zoneobject.zoneCommands">
			<li>command: {{command.command}}</li>
			<li>ifFlag: {{command.ifFlag}}</li>
			<li>relatedVnum: {{command.relatedVnum}}</li>
			<li>maxExisting: {{command.maxExisting}}</li>
			<li>roomVnum: {{command.roomVnum}}</li>
			<li>objVnum1: {{command.objVnum1}}</li>
			<li>objVnum2: {{command.objVnum2}}</li>
			<li>equipmentPosition: {{command.equipmentPosition}}</li>
			<li>exitNum: {{command.exitNum}}</li>
			<li>state: {{command.state}}</li>
		</ul>
	</ul>
</div>
